@model IEnumerable<CTS_System6.Models.Projects>

@{
    ViewData["Title"] = "Projects";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FromLanguage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToLanguage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Body)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Currency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Offer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FromLanguage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToLanguage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Body)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Currency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Offer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostDate) 
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /*id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new {  id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>


<section>
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Manage Languages</h2>
        </div>

    </div>

    <div class="row align-items-top">
        <div class="col-lg-6">

            @foreach (var item in Model)
            {
                <div class="card">
                    <div class="card-header">@Html.DisplayFor(modelItem => item.Status)</div>
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Subject)</h5>
                        @Html.DisplayFor(modelItem => item.Body)
                    </div>
                    <div class="card-footer">
                        @Html.DisplayFor(modelItem => item.PostDate) -
                        @Html.DisplayFor(modelItem => item.DeliveryDate)
                        <hr />
                        <a asp-action="Details" asp-controller="Projects" asp-route-id="@item.Id" class="btn btn-info">Details</a>
                        <a asp-action="Edit" asp-controller="Projects" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                        <a asp-action="Delete" asp-controller="Projects" asp-route-id="@item.Id" class="btn btn-warning">Delete</a>
                    </div>
                </div><!-- End Card with header and footer -->
            }
        </div>
    </div>
</section>