@model CTS_System6.ViewModels.TranslatorProjectVM

@{
    ViewData["Title"] = "Bid";
}



<section>
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Bid Submission</h2>
        </div>

        <div class="row align-items-top">
            @if (Model.RateAuth)
            {
                <div class="col-lg-12 p-1">
                    <div class="card">
                        <form asp-action="Rate">
                            <div class="card-header text-center">Rate The Customer</div>
                            <div class="card-body">
                                <h6 class="card-title text-center">Your feedback will enhance the quality of the service!</h6> <hr />
                                <input type="hidden" asp-for="Id" value="@Model.Id" />
                                <div class="row">
                                    <label class="col-sm-4 col-form-label">Review</label>
                                    <div class="col-sm-8">
                                        <textarea class="form-control" id="reviewTextArea" rows="2" asp-for="Review"></textarea>
                                    </div>
                                    <label class="col-sm-4 col-form-label">Delivery Scale</label>
                                    <div class="col-sm-8">
                                        <span class="DScale-Span text-warning float-right">
                                            <i class="rating-D-stars fa-solid fa-star" data-value="1"></i>
                                            <i class="rating-D-stars fa-regular fa-star" data-value="2"></i>
                                            <i class="rating-D-stars fa-regular fa-star" data-value="3"></i>
                                            <i class="rating-D-stars fa-regular fa-star" data-value="4"></i>
                                            <i class="rating-D-stars fa-regular fa-star" data-value="5"></i>
                                        </span>
                                        <input type="hidden" asp-for="DeliveryScale" id="DSVal" value="1" />
                                    </div>
                                    <label class="col-sm-4 col-form-label">Communication Scale:</label>
                                    <div class="col-sm-8">
                                        <span class="CScale-Span text-warning float-right">
                                            <i class="rating-C-stars fa-solid fa-star" data-value="1"></i>
                                            <i class="rating-C-stars fa-regular fa-star" data-value="2"></i>
                                            <i class="rating-C-stars fa-regular fa-star" data-value="3"></i>
                                            <i class="rating-C-stars fa-regular fa-star" data-value="4"></i>
                                            <i class="rating-C-stars fa-regular fa-star" data-value="5"></i>
                                        </span>
                                        <input type="hidden" asp-for="CommunicationScale" id="CSVal" value="1" />
                                    </div>
                                    <label class="col-sm-4 col-form-label">Quality Scale:</label>
                                    <div class="col-sm-8">
                                        <span class="QScale-Span text-warning float-right">
                                            <i class="rating-Q-stars fa-solid fa-star" data-value="1"></i>
                                            <i class="rating-Q-stars fa-regular fa-star" data-value="2"></i>
                                            <i class="rating-Q-stars fa-regular fa-star" data-value="3"></i>
                                            <i class="rating-Q-stars fa-regular fa-star" data-value="4"></i>
                                            <i class="rating-Q-stars fa-regular fa-star" data-value="5"></i>
                                        </span>
                                        <input type="hidden" asp-for="QualityScale" id="QSVal" value="1" />
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer text-center">
                                <input type="submit" value="Rate" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>
            }


            @if (Model.RateFlag)
            {
                foreach (var rate in Model.TranslatorRate)
                {
                    <div class="col-lg-12 p-1">
                        <div class="card">
                            <div class="card-header text-center">You have been rated the customer!! Thanks for your feedback</div>
                            <div class="card-body">
                                <div class="row">
                                    <label class="col-sm-4 col-form-label">Review</label>
                                    <div class="col-sm-8 text-right">
                                        <p>@rate.Review</p>
                                    </div>
                                    <label class="col-sm-4 col-form-label">Delivery Scale</label>
                                    <div class="col-sm-8">
                                        <span class="DScale-Span text-warning float-right">
                                            @for (int i = 1; i <= 5; i++)
                                            {
                                                if (i <= rate.DeliveryScale)
                                                {
                                                    <i class="fa-solid fa-star"></i>

                                                }
                                                else
                                                {
                                                    <i class="fa-regular fa-star"></i>

                                                }
                                            }
                                        </span>
                                    </div>
                                    <label class="col-sm-4 col-form-label">Communication Scale:</label>
                                    <div class="col-sm-8">
                                        <span class="CScale-Span text-warning float-right">
                                            @for (int i = 1; i <= 5; i++)
                                            {
                                                if (i <= rate.CommunicationScale)
                                                {
                                                    <i class="fa-solid fa-star"></i>

                                                }
                                                else
                                                {
                                                    <i class="fa-regular fa-star"></i>

                                                }
                                            }
                                        </span>
                                    </div>
                                    <label class="col-sm-4 col-form-label">Quality Scale:</label>
                                    <div class="col-sm-8">
                                        <span class="QScale-Span text-warning float-right">
                                            @for (int i = 1; i <= 5; i++)
                                            {
                                                if (i <= rate.QualityScale)
                                                {
                                                    <i class="fa-solid fa-star"></i>

                                                }
                                                else
                                                {
                                                    <i class="fa-regular fa-star"></i>

                                                }
                                            }
                                        </span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                }
            }
            @if (Model.CustomerRateFlag)
            {
                foreach (var rate in Model.CustomerRate)
                {
                    <div class="col-lg-12 p-1">
                        <div class="card">
                            <div class="card-header text-center">Your service has been rated by the customer!!</div>
                            <div class="card-body">
                                <div class="row">
                                    <label class="col-sm-4 col-form-label">Review</label>
                                    <div class="col-sm-8 text-right">
                                        <p>@rate.Review</p>
                                    </div>
                                    <label class="col-sm-4 col-form-label">Delivery Scale</label>
                                    <div class="col-sm-8">
                                        <span class="DScale-Span text-warning float-right">
                                            @for (int i = 1; i <= 5; i++)
                                            {
                                                if (i <= rate.DeliveryScale)
                                                {
                                                    <i class="fa-solid fa-star"></i>

                                                }
                                                else
                                                {
                                                    <i class="fa-regular fa-star"></i>

                                                }
                                            }
                                        </span>
                                    </div>
                                    <label class="col-sm-4 col-form-label">Communication Scale:</label>
                                    <div class="col-sm-8">
                                        <span class="CScale-Span text-warning float-right">
                                            @for (int i = 1; i <= 5; i++)
                                            {
                                                if (i <= rate.CommunicationScale)
                                                {
                                                    <i class="fa-solid fa-star"></i>

                                                }
                                                else
                                                {
                                                    <i class="fa-regular fa-star"></i>

                                                }
                                            }
                                        </span>
                                    </div>
                                    <label class="col-sm-4 col-form-label">Quality Scale:</label>
                                    <div class="col-sm-8">
                                        <span class="QScale-Span text-warning float-right">
                                            @for (int i = 1; i <= 5; i++)
                                            {
                                                if (i <= rate.QualityScale)
                                                {
                                                    <i class="fa-solid fa-star"></i>

                                                }
                                                else
                                                {
                                                    <i class="fa-regular fa-star"></i>

                                                }
                                            }
                                        </span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                }
            }
            @foreach (var project in Model.ProjectInfo)
            {
                <div class="col-lg-12 p-1">
                    <div class="card">
                        <div class="card-header text-center">Project Information</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 text-center" onclick="ViewProfile('@project.CustomerId')">
                                    @await Component.InvokeAsync("ProfileIcon", new { UserId = project.CustomerId })
                                    <hr />
                                </div>
                                <div class="col-12">
                                    <h4> @project.Subject</h4>
                                </div>

                                <div class="col-8">
                                    <h5>@project.PostDate.ToString("dd/MMM/yyyy") - @project.DeliveryDate.ToString("dd/MMM/yyyy")   </h5>
                                </div>
                                <div class="col-2">
                                    <h5> @project.Status</h5>
                                </div>
                                <div class="col-2">
                                    <h5> @Model.FromName - @Model.ToName</h5>
                                </div>
                                <div class="col-12">
                                    @project.Body
                                </div>
                                <div class="col-10">
                                    @project.Offer @project.Currency
                                </div>
                                <div class="col-2">
                                    @Model.BidsCount Bids
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            @if (Model.BidFlag)
            {


                @foreach (var bid in Model.Bid)
                {
                    <div class="col-lg-12 p-1">
                        <div class="card">
                            <div class="card-header text-center">You have been already submitted a bid</div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-10">
                                        @bid.Body
                                    </div>
                                    <div class="col-2">
                                        @bid.Offer @bid.Currency
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer text-center">
                                <input type="submit" value="Bid" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="col-lg-12 p-1">
                    <div class="card">
                        <form asp-action="Bid" method="post">
                            <div class="card-header text-center">Bid Subbmission</div>
                            <div class="card-body">
                                <div class="form-group">
                                    <label>Comment</label>
                                    <input asp-for="BBody" class="form-control" maxlength="100" />
                                </div>
                                <div class="input-group mb-2">
                                    <span class="input-group-text">@Model.Currency</span>
                                    <input type="text" asp-for="BOffer" class="form-control">
                                    <input asp-for="Currency" type="hidden" />
                                </div>
                            </div>
                            <div class="card-footer text-center">
                                <input type="submit" value="Bid" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>
            }
        </div>
    </div>
</section>



