@model IEnumerable<CTS_System6.ViewModels.TranslatorProjectVM>

@{
    ViewData["Title"] = "Projects";
}

<section>
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Projects</h2>
        </div>


        <div class="row align-items-top row-cols-2" >

            @foreach (var item in Model)
            {
                <div class="row p-3 ">
                    <div class="col-lg-2">
                        <div onclick="ViewProfile('@item.CustomerId')">
                            @await Component.InvokeAsync("ProfileIcon", new { UserId = item.CustomerId })
                        </div>
                    </div>
                    <div class="col-lg-10">
                        <div class="card">
                            <div class="card-header">@Html.DisplayFor(modelItem => item.Status)</div>
                            <div class="card-body">
                                <h5 class="card-title">@Html.DisplayFor(modelItem => item.Subject)</h5>
                                <hr />
                                Post date: @Html.DisplayFor(modelItem => item.PostDate) Deliver date: @Html.DisplayFor(modelItem => item.DeliveryDate) <br />
                                Price: @Html.DisplayFor(modelItem => item.Offer) @Html.DisplayFor(modelItem => item.Currency) <br />
                                @if (Convert.ToInt32(item.BidsCount) > 0)
                                {
                                    @Html.DisplayFor(modelItem => item.BidsCount) <p> Translators Applied on this project.</p>
                                }
                                else
                                {
                                    <p>There are no bids yet</p>
                                }

                            </div>
                            <div class="card-footer">
                                <div class="float-lg-left">
                                    @Html.DisplayFor(modelItem => item.FromLanguageName) - @Html.DisplayFor(modelItem => item.ToLanguageName)
                                </div>
                                <div class="float-lg-right">
                                    <a asp-action="Bid" asp-route-id="@item.Id" class="btn btn-info">Bid</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>