@model IEnumerable<CTS_System6.ViewModels.TranslatorProjectVM>

@{
    ViewData["Title"] = "Projects";
}

<section>
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Projects</h2>
        </div>

        @*<div class="row align-items-top row-cols-3 card-deck">*@
        <div class="container mx-auto mt-4">
            <div class="row card-deck">
                @foreach (var item in Model)
                {
                    <div class="col-md-4 mb-4">
                        <div class="card pcard">
                            <div class="card-header text-center">
                                <div onclick="ViewProfile('@item.CustomerId')">
                                    @await Component.InvokeAsync("ProfileIcon", new { UserId = item.CustomerId })
                                </div>
                            </div>
                            <div class="card-body text-center">
                                <h5 class="card-title"><i class="fas fa-align-justify text-primary"></i>  @Html.DisplayFor(modelItem => item.Subject)</h5>
                                <hr />
                                <span>
                                    <i class="fas fa-calendar text-primary"></i> @Html.DisplayFor(modelItem => item.PostDate)
                                    <i class="fas fa-angle-double-right text-primary"></i>
                                    <i class="fas fa-calendar-check text-primary"></i> @Html.DisplayFor(modelItem => item.DeliveryDate)
                                </span>
                                <br />
                                <span class="float-left">
                                    <i class="fas fa-credit-card text-success"> @Html.DisplayFor(modelItem => item.Offer) @Html.DisplayFor(modelItem => item.Currency)</i>
                                </span>
                                <span class="float-right">
                                    <i class="fas fa-clipboard-check text-primary"></i>  @Html.DisplayFor(modelItem => item.Status)
                                </span>
                                <br />
                                <span>
                                    @if (Convert.ToInt32(item.BidsCount) > 0)
                                    {
                                        <p><i class="fas fa-user-friends text-primary"> @Html.DisplayFor(modelItem => item.BidsCount)</i> Translators Applied on this project.</p>
                                    }
                                    else
                                    {
                                        <p><i class="fas fa-user-alt-slash"></i> There are no bids yet</p>
                                    }
                                </span>
                            </div>
                            <div class="card-footer">
                                <div class="float-lg-left">
                                    <i class="fas fa-globe text-primary"></i> @Html.DisplayFor(modelItem => item.FromLanguageName)
                                    <i class="fas fa-angle-double-right text-primary"></i> @Html.DisplayFor(modelItem => item.ToLanguageName)
                                </div>
                                <div class="float-lg-">

                                </div>

                                <div class="float-lg-right">
                                    <a asp-action="Bid" asp-route-id="@item.Id" class="btn btn-info">Bid</a>
                                </div>
                            </div>
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>
</section>