@model IEnumerable<UserViewModel>


@{
    ViewData["Title"] = "Users";
}

<h1>Users</h1>

<a asp-action="Add" class="btn btn-primary">Add New</a>

<table class="table table-striped mt-4">

    <thead>
        <tr class="bg-primary text-white">
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
        @foreach(var user in Model)
            {
        <tr>
            <td>@user.FirstName</td>
            <td>@user.LastName</td>
            <td>@user.Email</td>
            @if (user.Status)
            {
                <td>Active</td>
            }
            else
            {
                <td>Not Active</td>
            }
        <td>
            <a class="btn btn-primary" asp-controller="Users" asp-action="ManageRoles" asp-route-userid="@user.Id">Manage Roles</a>
            <a class="btn btn-outline-primary" asp-controller="Users" asp-action="Edit" asp-route-userid="@user.Id">Modify Profile</a>
            <a class="btn btn-primary" asp-controller="Users" asp-action="Change" asp-route-userid="@user.Id">Activate/De Activate</a>
            @*<input type="button" asp-controller="Users" asp-action="Change" asp-route-userid="@user.Id" value="Activate/De Activate" />*@
        </td>
        </tr>
            }
    </tbody>


</table>